@use "./utils/variables" as*;


.image-text-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.category-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .5rem;

    @media screen and (min-width:$laptop) {
        width: 60%;
    }

}

.category {
    border-radius: 10px;
    border: none;
    padding: .5rem;
    text-transform: uppercase;
    color: $black;
    transition: all .3s ease-in-out;
    background-color: $mainColor;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.active-category {
    background-color: $secColor;
}