@use "./utils/variables" as*;

.header {
    height: 10vh;
    position: relative;
    z-index: 100;
}

.header-container {
    @include container;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}