.product-card {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    text-align: start;
    font-size: small;
    max-width: 200px;
    height: 300px;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.1);

    }
}

.product-image {
    width: 100%;
    border-radius: 10px
}

.category-name {
    text-transform: capitalize;
    font-size: xx-small;
    font-weight: 500;
    display: block;
    color: $gray;
}

.product-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: $black;
    background-color: $mainColor;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    }
}

.ingredients {
    display: block;
    font-size: x-small;
}