/* Color */
/* Font */
/* Breakpoints */
/* Color */
/* Font */
/* Breakpoints */
.search-bar {
  border-radius: 10px;
  padding: 0.6rem;
  border: none;
  display: flex;
  place-items: center;
  width: 75%;
  height: 40px;
  position: relative;
  background-color: whitesmoke;
}

.search-bar-input {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
}

.filtered-products-wrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
  padding: 3rem 0.5rem;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
}

/* Color */
/* Font */
/* Breakpoints */
.header {
  height: 10vh;
  position: relative;
  z-index: 100;
}

.header-container {
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Color */
/* Font */
/* Breakpoints */
.hamburger {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  border: none;
  background-color: transparent;
}
.hamburger:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.nav-icon {
  width: 35px;
  height: 35px;
  margin: auto;
  color: #161818;
}

.nav {
  background-color: #fcfffc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  width: 100vw;
  top: 100%;
  height: 0vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  color: #161818;
}
@media (min-width: 1024px) {
  .nav {
    position: static;
    order: 1;
    transition: none;
    z-index: 0;
    top: 100%;
    width: 60%;
    max-width: 1000px;
    height: 80%;
    box-shadow: none;
    opacity: 1;
    font-size: small;
  }
}
.nav ul {
  list-style: none;
  height: 80%;
  gap: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
}
@media (min-width: 1024px) {
  .nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 100%;
    padding-bottom: 0;
  }
}
.nav li {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  .nav li {
    border: none;
  }
}
.nav b {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.nav b:hover {
  color: #fd8b00;
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #161818;
  font-weight: 600;
  position: relative;
}
.nav a:hover {
  cursor: pointer;
  color: #fd8b00;
}
.nav .closeNav {
  position: absolute;
  top: 10%;
  left: 80%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav .closeNav {
    display: none;
  }
}
.nav .closeNav .icon {
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  width: 100%;
}
.nav .closeNav .icon:hover {
  cursor: pointer;
}

.nav-active {
  height: 50vh;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* Color */
/* Font */
/* Breakpoints */
.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fcfffc;
  height: 95%;
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  border-radius: 30px;
  color: #161818;
  padding-bottom: 1rem;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px -7px 29px 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -99;
}
@media screen and (min-width: 1439px) {
  .cart {
    opacity: 1;
    position: static;
    transform: translate(0, 0);
    width: 30%;
    height: 600px;
    z-index: 999;
    padding-bottom: 0;
  }
}

.open-cart {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.scrolled-to-top {
  /* Safari */
  position: sticky;
  top: 0;
}

.open-cart-btn {
  background-color: #49D100;
  font-size: medium;
  font-weight: 700;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 500px;
  height: 50px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  color: #161818;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1439px) {
  .open-cart-btn {
    display: none;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
}

.close-cart-btn {
  width: 40px;
  height: 40px;
  display: inline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-cart-btn .icon {
  width: 100%;
  height: 100%;
  color: red;
}
@media screen and (min-width: 1439px) {
  .close-cart-btn {
    display: none;
  }
}

.cart-products-wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
  overflow: scroll;
  height: 250px;
  color: #2d3a3a;
}
.cart-products-wrapper::-webkit-scrollbar {
  display: none;
}

.product-card-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  gap: 1rem;
}

.product-cart-header {
  display: flex;
  gap: 1rem;
}

.product-description {
  font-size: xx-small;
  width: 60%;
}

.product-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.change-quantity-btn {
  background-color: #49D100;
  color: #161818;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.change-quantity-btn:hover {
  background-color: darkgray;
}

.total-price {
  box-shadow: 0px -4px 4px rgba(50, 50, 50, 0.05);
  width: 100%;
  height: 30px;
  padding-top: 1rem;
}
.total-price h2 {
  margin-bottom: 0.5rem;
}

.check-out-btn {
  height: 40px;
  border-radius: 10px;
  margin: 1rem 0rem;
  border: none;
  text-transform: uppercase;
  width: 70%;
  max-width: 200px;
  background-color: #fd8b00;
  color: black;
}
.check-out-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Color */
/* Font */
/* Breakpoints */
.products-header {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.products {
  margin-top: 3rem;
  text-align: center;
}
@media screen and (min-width: 1439px) {
  .products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
}

.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
  margin-top: 2rem;
  width: 100%;
  gap: 3rem;
}
@media screen and (min-width: 1024px) {
  .products-wrapper {
    justify-content: space-between;
    width: 60%;
    margin-top: 0;
  }
}

.product-card {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  font-size: small;
  max-width: 200px;
  height: 300px;
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  transform: scale(1.1);
}

.product-image {
  width: 100%;
  border-radius: 10px;
}

.category-name {
  text-transform: capitalize;
  font-size: xx-small;
  font-weight: 500;
  display: block;
  color: #2d3a3a;
}

.product-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: #161818;
  background-color: #fd8b00;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-button:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.ingredients {
  display: block;
  font-size: x-small;
}

.discount-span {
  background-color: rgb(255, 136, 0);
  color: #161818;
  padding: 0.1rem;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: 0.2rem 0;
  border-radius: 5px;
}

.one-free {
  color: green;
}

.old-price {
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  color: green;
  margin-left: 1rem;
}

/* Color */
/* Font */
/* Breakpoints */
.footer {
  min-height: 100px;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  margin-top: 5rem;
  background-color: #2d3a3a;
  overflow: hidden;
  color: #fcfffc;
}

/* Color */
/* Font */
/* Breakpoints */
.image-text-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.category-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .category-wrapper {
    width: 60%;
  }
}

.category {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  color: #161818;
  transition: all 0.3s ease-in-out;
  background-color: #fd8b00;
}
.category:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.active-category {
  background-color: #49D100;
}

.home-page,
.offers {
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
}

.offers-header {
  text-align: start;
  width: 95%;
  max-width: 1250px;
  margin: 20px auto;
}/*# sourceMappingURL=index.css.map */